.main
{
  margin-top: 30% !important;
  margin-left: 20% !important;
}

.search-text {
  font-family: SourceSansPro-Bold;
  font-size: 16px;
  color: #43383e;
  line-height: 1.2;
  position: relative;
  display: block;
  width: 60%;
  height: 62px;
  background: #fff;
  border-radius: 31px;
  padding: 0 35px;
  background-color: antiquewhite
}

.search-button {
  background: #7bc74d;
  padding: 10px;
  color: #fff;
}

input {
  outline: none;
}

button, input {
  overflow: visible;
  border: none;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

  h2 small {
    font-size: 0.5em;
  }

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: #AEA0B4;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.responsive-table .col-1 {
  flex-basis: 20%;
}

.responsive-table .col-2 {
  flex-basis: 60%;
}

.responsive-table .col-3 {
  flex-basis: 10%;
  font-weight: 600;
  margin-left: 10px;
}

.responsive-table .col-4 {
  flex-basis: 10%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }

    .responsive-table .col:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
}

img{
  height: 150px;
}

@-moz-keyframes hexdots-loader {
0%
{
  -moz-box-shadow: #b6ff00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
}

8.33% {
  -moz-box-shadow: #b6ff00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  box-shadow: #0094ff 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
}

16.67% {
  -moz-box-shadow: #b6ff00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  box-shadow: #0094ff 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
}

25% {
  -moz-box-shadow: #b6ff00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  box-shadow: #0094ff 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
}

33.33% {
  -moz-box-shadow: #b6ff00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  box-shadow: #0094ff -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
}

41.67% {
  -moz-box-shadow: #b6ff00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px;
  box-shadow: #0094ff -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px;
}

50% {
  -moz-box-shadow: #b6ff00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px;
  box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px;
}

58.33% {
  -moz-box-shadow: #b6ff00 26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px;
  box-shadow: #0094ff 26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px;
}

66.67% {
  -moz-box-shadow: #b6ff00 26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px;
  box-shadow: #0094ff 26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px;
}

75% {
  -moz-box-shadow: #b6ff00 0 30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
  box-shadow: #0094ff 0 30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
}

83.33% {
  -moz-box-shadow: #b6ff00 -26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px;
  box-shadow: #0094ff -26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px;
}

91.67% {
  -moz-box-shadow: #b6ff00 -26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  box-shadow: #0094ff -26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
}

100% {
  -moz-box-shadow: #b6ff00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
}

}

@-webkit-keyframes hexdots-loader {
  0% {
    -webkit-box-shadow: #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  8.33% {
    -webkit-box-shadow: #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  16.67% {
    -webkit-box-shadow: #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  25% {
    -webkit-box-shadow: #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  33.33% {
    -webkit-box-shadow: #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  41.67% {
    -webkit-box-shadow: #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  50% {
    -webkit-box-shadow: #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px;
    box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px;
  }

  58.33% {
    -webkit-box-shadow: #ff6a00 26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px;
    box-shadow: #0094ff 26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px;
  }

  66.67% {
    -webkit-box-shadow: #ff6a00 26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px;
    box-shadow: #0094ff 26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px;
  }

  75% {
    -webkit-box-shadow: #ff6a00 0 30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
    box-shadow: #0094ff 0 30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
  }

  83.33% {
    -webkit-box-shadow: #ff6a00 -26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px;
    box-shadow: #0094ff -26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px;
  }

  91.67% {
    -webkit-box-shadow: #ff6a00 -26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff -26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  100% {
    -webkit-box-shadow: #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }
}

@keyframes hexdots-loader {
  0% {
    -moz-box-shadow: #b6ff00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  8.33% {
    -moz-box-shadow: #b6ff00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  16.67% {
    -moz-box-shadow: #b6ff00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  25% {
    -moz-box-shadow: #b6ff00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  33.33% {
    -moz-box-shadow: #b6ff00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  41.67% {
    -moz-box-shadow: #b6ff00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  50% {
    -moz-box-shadow: #b6ff00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px;
    -webkit-box-shadow: #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px;
    box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px;
  }

  58.33% {
    -moz-box-shadow: #b6ff00 26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px;
    box-shadow: #0094ff 26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px -15px 0 7px;
  }

  66.67% {
    -moz-box-shadow: #b6ff00 26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px;
    -webkit-box-shadow: #ff6a00 26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px;
    box-shadow: #0094ff 26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 26px 15px 0 7px;
  }

  75% {
    -moz-box-shadow: #b6ff00 0 30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
    -webkit-box-shadow: #ff6a00 0 30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
    box-shadow: #0094ff 0 30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
  }

  83.33% {
    -moz-box-shadow: #b6ff00 -26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px;
    -webkit-box-shadow: #ff6a00 -26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px;
    box-shadow: #0094ff -26px 15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px 15px 0 7px;
  }

  91.67% {
    -moz-box-shadow: #b6ff00 -26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 -26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff -26px -15px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }

  100% {
    -moz-box-shadow: #b6ff00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    -webkit-box-shadow: #ff6a00 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
    box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 -26px 15px 0 7px, #ff6a00 -26px -15px 0 7px;
  }
}
.hexdots-loader:not(:required) {
  margin-top: 30%;
  margin-left: 40%;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 100%;
  -moz-box-shadow: #b6ff00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
  -webkit-box-shadow: #ff6a00 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
  box-shadow: #0094ff 0 -30px 0 7px, #ff6a00 26px -15px 0 7px, #ff6a00 26px 15px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px, #ff6a00 0 30px 0 7px;
  -moz-animation: hexdots-loader 5s infinite ease-in-out;
  -webkit-animation: hexdots-loader 5s infinite ease-in-out;
  animation: hexdots-loader 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
