<div *ngIf="showHome" class="main">
  <input type="text" class="search-text" autocomplete="on" (keyup.enter)="getItems()" placeholder="Search an Item" [(ngModel)]="itemToSearch" autofocus />
  <br/> 
  <button class="search-button" (click)="getItems()">Get Best Deals</button>
</div>
<div *ngIf="!showHome">
  <div *ngIf="!items" class="hexdots-loader"></div>
  <div class="container" *ngIf="items">
    <h2>Search Results</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1"></div>
        <div class="col col-2"><b>Item</b></div>
        <div class="col col-3"><b>Price</b></div>
        <div class="col col-4"><b>Site</b></div>
      </li>
      <li class="table-row" *ngFor="let it of items">
        <div class="col col-1" data-label="Item Image"><img src="{{it.image}}" alt="Image not found" onerror="this.onerror=null;this.src='/assets/images/no-image.png';" /></div>
        <div class="col col-2" data-label="Item Name"><a href={{it.link}} target="_blank">{{ it.name }}</a></div>
        <div class="col col-3" data-label="Item Price">INR {{ it.price }}</div>
        <div class="col col-4" data-label="Source Site">{{ it.source }}</div>
      </li>
    </ul>
    <div *ngIf="showMoreItems"><button class="search-button" (click)="loadMore()" style="float: right">Load More</button></div>
  </div>
</div>
