<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="row">
    <div class="column">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/home-icon.png" alt="Logo" style="width:30px;">
      </a>
    </div>
    <div class="column heading">
      <b>Welcome To Shopping Arena</b>
    </div>
    <div class="column" style="padding-top: 10px; padding-left: 80px;">
      <input class="form-control textbox" type="text" placeholder="Search an Item" (ngModelChange)="searchItem($event)" [(ngModel)]="search">
      <span class="fa fa-search searchspan"></span>
    </div>
  </div>
</nav>